
.title-container h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.title-container p {
  text-align: center;
}

ion-button {
  --background: #000;
  color: #fff;
  margin: 2rem;
  font-weight: bold;
}